body{
	font-size: 23px; 
	/*margin-left: 500px;*/	
}
a:link{
	color: darkgrey;
	border-bottom: 1px dotted black;
	text-decoration: none;
}
a:hover{
	color: darkblue;
	border-bottom: 1px solid darkblue;
	text-decoration: none;
}
a:visited {
   color: purple;
}
h1 {
    text-align: center;
    font-size: 3.6em;
    font-family: 'Roboto Slab', serif;
}
h2 {
	margin-right: 480px; 
	margin-left: 480px;
    text-align: center;
    font-size: 2.1em;
    font-family: 'Roboto Slab', serif;
}
h3 {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Roboto Slab', serif;
}
li{
	margin-right: 480px; 
	margin-left: 580px;
	font-family: 'Hind', sans-serif;
}	
li.e{
	color: grey;
	margin-right: 480px; 
	margin-left: 480px;
	font-family: 'Hind', sans-serif;
}	
p{
	margin-right: 480px; 
	margin-left: 480px;
	font-size: 1em;	
	font-family: 'Hind', sans-serif;
}
sup{
	color: grey;
	font-family: 'Hind', sans-serif;
}
p.li{
	margin-right: 480px; 
	margin-left: 580px;
	font-size: 1em;	
	font-family: 'Hind', sans-serif;
}
.last{
	color: grey;
	border-top: solid;
}
iframe {
	margin-left: 250px;
	width: 510px;
	height: 325px;
	display:block;
	margin: 0 auto;
}
img{
	width: 1200px;
	height: 575px;
	display:block;
	margin: 0 auto;
}
@media only screen and (max-width: 1500px) {

body{
	font-size: 23px;
	/*margin-left: 500px;*/	
}
h1 {
    text-align: center;
    font-size: 64px;
}
h2 {
	margin-right: 250px; 
	margin-left: 250px;
    text-align: center;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-size: 20px;
}
li.e{
	background-color: none;
	color: grey;
	margin-right: 250px; 
	margin-left: 250px;
	font-family: 'Hind', sans-serif;
}	
li{
	margin-right: 250px; 
	margin-left: 250px;
}
p{
	margin-right: 250px; 
	margin-left: 250px;
	font-size: 23px;
}
p.li{
	margin-right: 250px; 
	margin-left: 350px;
	font-size: 23px;
}
.last{
	border-top: solid;
}
iframe {
	width: 460px;
	height: 275px;
	display:block;
	margin: 0 auto;
}
img{
	width: 1000px;
	height: 525px;
	display:block;
	margin: 0 auto;
}

}
@media only screen and (max-width: 1024px) {

body{
	font-size: 20px;
	/*margin-left: 500px;*/	
}
h1 {
    text-align: center;
    font-size: 48px;
}
h2 {
	margin-right: 150px; 
	margin-left: 150px;
    text-align: center;
    font-size: 33.333333px;
}
h3 {
    text-align: center;
    font-size: 18.666667px;
}
li.e{
	color: grey;
	margin-right: 150px; 
	margin-left: 150px;
	font-family: 'Hind', sans-serif;
}
li{
	margin-right: 150px; 
	margin-left: 150px;
}
p{
	margin-right: 150px; 
	margin-left: 150px;
	font-size: 20px;
}
p.li{
	margin-right:50px; 
	margin-left: 250px;
	font-size: 20px;
}
.last{
	border-top: solid;
}
iframe {
	width: 330px;
	height: 200px;
	display:block;
	margin: 0 auto;
}
img{
	width: 661px;
	height: 300px;
	display:block;
	margin: 0 auto;
}

}
@media only screen and (max-width: 600px) {

body{
	font-size: 20px; 
	/*margin-left: 500px;*/	
}
h1 {
    text-align: center;
    font-size: 30.666667px;
}
h2 {
	margin-right: 50px; 
	margin-left: 50px;
    text-align: center;
    font-size: 26.666667px;
}
h3 {
    text-align: center;
    font-size: 18.666667px;
}
li{
	margin-right: 50px; 
	margin-left: 50px;
}
li.e{
	color: grey;
	margin-right: 50px; 
	margin-left: 50px;
	font-family: 'Hind', sans-serif;
}
p{
	margin-right: 50px; 
	margin-left: 50px;
	font-size: 20px;
}
p.li{
	margin-right: 50px; 
	margin-left: 100px;
	font-size: 20px;
}
.last{
	border-top: solid;
}
iframe {
	width: 300px;
	height: 200px;
	display:block;
	margin: 0 auto;
}
img{
	width: 400px;
	height: 200px;
	display:block;
	margin: 0 auto;
}

}