.greenBG {
    background-color: green;
}
.blueBG {
    background-color: darkblue;
}
.blackBG {
    background-color: black;
}
.orangeBG {
    background-color: orange;
}
.pinkBG {
    background-color: lightpink;
}
