*{
	background-color: black;
	text-align: center; 
	font-family: 'Lato', sans-serif;
}
body{ 
	padding-top: 400px
	size: 400px;
	text-align: center;
	color: white;
}
body{
	padding-top: 150px;
}
body{
	font-size: 80px;
}