*{
	text-align: center; 
	font-family: 'Lato', sans-serif;
}
body{ 
	background-color: #0d0d0d;
	padding-top: 500px
	text-align: center;
	color: white;
}
body{
	padding-top: 150px;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 80px;
}
.page1{
	background-color: black;
	color: white;
}
a{
    color: white;
}
a:hover{ 
	border-bottom: double;
    color: #b30000;
    transition: all ease-in-out .3s;
}
