body{
	padding-top: 150px;
}
body{
	background-color:  #d9d9d9;
	color: #1a1a1a;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 80px;
}
a{
    color: #1a1a1a;
}
a#tab-2:hover{
	border-bottom: double;
    color: #b30000;
    transition: all ease-in-out .3s;
}