body{
	padding-top: 150px;
}
body{
	background-color: #ffffff;
	color: #000000;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 80px;
}
a{
    color: #000000;
}
a#tab-2:hover{
	border-bottom: double;
    color: #b30000;
    transition: all ease-in-out .3s;
}