body{
	text-align: center;
	background-image: url(../andreasbg.png); 
	color: transparent;
	margin: 0;
	font-family: 'Anton', sans-serif;
	}
	
.hover {
	background-color: magenta;
	color: white;
	position: absolute;
	text-align: center;
	font-family: 'Anton', sans-serif;
}
.circle{
	margin-top: 400px;
	margin-left: 400px;
	background-color: transparent;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
.dot{
	background-color: #771170;
	text-align: center;
	white-space: nowrap;
	top: 395px;
	left: 395px;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 40px;
}
h2{
	margin-left: -50px;
	margin-top: -30px;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	text-align: center;
	border-top: 50px;
}